* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 700px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px;
    border-radius: 8px;
   }
body {
    background-color: rgb(15, 0, 62);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 70px;
   }

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.left {
    margin-right: 10px;
    margin-left: 10px;
}
